$primary: #f72464;

$grays: (
        '1': #000000,
        '2': #222222,
        '3': #505050,
        '4': #52575d,
        '5': #919191,
        '6': #c4c4c4
);

$bg-color: #ffffff;
$text-color: #52575d;